@charset "UTF-8";
/* fonts import  */
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("./resources/vintage-paper.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.div1, .div2, .div3 {
  margin-top: 5vh;
  width: 80vw;
}

.div1 div, .div2 div, .div3 div {
  margin: 7.5vh 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 17.5vw;
  padding-top: 4.25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  font-size: 1.25rem;
  /* margin-right: 1.25rem; */
  font-weight: 600;
  color: #212121;
  text-decoration: none;
  background: #F2D1A2;
  padding: .5rem 1.25rem;
  -webkit-box-shadow: 0px 2px 6px rgba(45, 45, 45, 0.125);
          box-shadow: 0px 2px 6px rgba(45, 45, 45, 0.125);
  border-radius: 12px 0 0 0;
}

.navbar a:nth-of-type(2) {
  margin-left: -12px;
}

.navbar a:last-of-type {
  margin-left: -12px;
}

@media (max-width: 480px) {
  nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  nav i {
    margin-top: .125rem;
    margin-right: .25rem;
  }
  .navbar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
    width: 33.33%;
    margin: 0;
    padding: .75rem 1.25rem;
  }
  .navbar a:nth-of-type(2) {
    margin: 0;
  }
  .navbar a:last-of-type {
    margin: 0;
  }
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 17.5vw;
  margin-top: 15vh;
}

@media (max-width: 480px) {
  main {
    padding: 5vh 2.5vw;
  }
}

h1, h2, a {
  font-family: "New Tegomin", monospace;
  margin-bottom: 1.45rem;
}

a, p {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 1.45rem;
}

p {
  font-family: "Lekton",  monospace;
}

.typewriterArtContainer {
  width: 100%;
  height: 5vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./resources/wood.png");
  background-size: cover;
  background-position: top;
  bottom: 0;
  left: 0;
  position: fixed;
}

.typewriterArtContainer .typewriterArt {
  max-width: 150px;
  position: fixed;
  -webkit-animation-name: typeWriterAppear;
          animation-name: typeWriterAppear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

@-webkit-keyframes typeWriterAppear {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes typeWriterAppear {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

.callToAction {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.lessonContainer {
  padding-bottom: 15vh;
}

.lessonContainer div, .lessonContainer span, .lessonContainer blockquote, .lessonContainer q, .lessonContainer cite {
  max-width: 90%;
}

@media (max-width: 480px) {
  .tabs {
    padding-bottom: 15vh;
  }
}
/*# sourceMappingURL=masaya.css.map */